@media screen and (max-width: 768px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .mr-auto {
    margin: auto;
  }
}

.navBarDesktop {
  text-align: right;
}
